In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('EDA_with_Avg.csv', index_col=0)
df.head()

,group,ID,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,...,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF,Comorbidities
0,1,125047,0.0,72,1,37.588179,0,0,0,1,...,7.463636,109.166667,13.166667,2.618182,7.230,21.166667,0.5,40.0,55,4.0
1,1,139812,0.0,75,2,30.188278,0,0,0,0,...,8.162500,98.444444,11.444444,1.887500,7.225,33.444444,0.5,78.0,55,2.0
2,1,109787,0.0,83,2,26.572634,0,0,0,0,...,8.266667,105.857143,10.000000,2.157143,7.268,30.571429,0.5,71.5,35,2.0
3,1,130587,0.0,43,2,83.264629,0,0,0,0,...,9.476923,92.071429,12.357143,1.942857,7.370,38.571429,0.6,75.0,55,0.0
4,1,138290,0.0,75,2,31.824842,1,0,0,0,...,8.733333,104.500000,15.166667,1.650000,7.250,22.000000,0.6,50.0,55,4.0

In [3]:
comorbidities_df = df[['outcome', 'age', 'gendera', 'BMI', 'hypertensive', 'atrialfibrillation', 'CHD with no MI', 
                       'diabetes', 'deficiencyanemias', 'depression', 'Hyperlipemia', 'Renal failure', 'COPD']]
comorbidities_df.head()

,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,deficiencyanemias,depression,Hyperlipemia,Renal failure,COPD
0,0.0,72,1,37.588179,0,0,0,1,1,0,1,1,0
1,0.0,75,2,30.188278,0,0,0,0,1,0,0,0,1
2,0.0,83,2,26.572634,0,0,0,0,1,0,0,1,0
3,0.0,43,2,83.264629,0,0,0,0,0,0,0,0,0
4,0.0,75,2,31.824842,1,0,0,0,1,0,0,1,1

In [4]:
comorbidities_df.to_csv('comorbidities.csv')